//doctype html
//html
//    head
//        title This is my title
//
//    body
//        h1 this is my heading


extends layout

block title
    title here we go!

block content
    h2 Different Content!!