doctype html
html
   head
     link(rel="stylesheet", href="css/main.css")
     block title
      title This is my title

  body
    block content
     h1 This is my heading

<!-- variable name used in block doesn't have to match what is under it-->
